@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	font-family: Montserrat; 
	font-style: normal; 
	line-height: normal; 
	text-transform: uppercase; 
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a:hover {
	color: #000 !important;
}

#map {
	width: 600px;
	height: 400px;
	background-color: #333;
}

[class*="copyrights-pane"] {
	display: none !important;
}

.header {
	display: flex;
	justify-content: flex-end;
	text-align: center;
	margin-top: 50px;
	width: 100%;
	padding-right: 50px;
	padding-left: 200px;
}

.header__auth {
	display: flex;
	justify-content: end;
	align-items: center;
	float: right;
}
.header__auth-btn {
	display: inline-flex;
	padding: 17px 37px;
	justify-content: center;
	align-items: center;
	border: none;
	gap: 10px;
	border-radius: 50px;
	background: linear-gradient(20deg, #FFD302 0%, #2DC496 100%);
	float: right;
	cursor: pointer;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
}

.header__auth-btn:hover {
	background: black;
	color: white;
}

.header h1 {
	color: #000;
	font-family: Montserrat;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	display: block;
	margin: auto;
}



.sidebar-wrapper {
	min-width: 347px;
	height: 390px;
	border-radius: 20px; 
	background: linear-gradient(#2DC496, #FFD302);
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	margin-left: 100px;
	margin-right: 50px;
	margin-top: 60px;
	display: flex;
	gap: 60px;
}

.sidebar {
	background: white;
	min-width: 339px;
	height: 382px;
	border-radius: 18px; 
	display: flex;
	flex-direction: column;
	padding-left: 27px;
	padding-top: 35px;
	gap: 35px;

}

.sidebar__element {
	color: #008425 !important;
	font-size: 18px;
	font-weight: 500;
	text-decoration-line: underline;

}

.content-events {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.content-event {
	border-radius: 20px;
	border: 1px solid #000;
	background: #FFF;
	min-height: 275px;
	display: flex;
	padding: 30px;
	gap: 20px;
	cursor: pointer;
}

.content-event img {
	min-width: 220px;
	max-width: 340px;
	height: 220px;
	border-radius: 20px;
	margin: auto;
	background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.content-event-info {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	margin-top: 10px;
}

.content-event-info h2 {
	color: #323232;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 5px;
}

.content-event__date {
	color: #A7A7A7;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
}

.content-event__descript {
	font-size: 16px; 
	font-weight: 400;
}

.topbord {
	min-width: 540px;
	border-radius: 20px;
	background: linear-gradient(322deg, #22B8CC 0%, #2DC496 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
}

.topboard__my-rating {
	width: 370px;
	height: 100px;
	border-radius: 20px;
	border: 2px solid #FFF; 
	color: #FFF;
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.my-rating {
	font-weight: 600;

}
.topboard__title {
	color: #FFF;
	text-align: center;
	font-size: 24px;
	font-weight: 400;
}

.topboard__title h2{
	color: #FFF;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
}

.topborad__users {
	height: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.topboard__user {
	color: #FFF;
	font-size: 24px;
	font-weight: 600;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.topboard__user .user__image {
	background: white;
	height: 50px;
	width: 50px;
	border-radius: 50px;
}

.topboard__user .user__image img {
	height: 50px;
	width: 50px;
	border-radius: 50px;
}

.all-news {
	display: flex;
	margin: 30px;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 30px;
}

.all-news .content-event {
	width: 48%;
}